<% content_for :header do %>
  <nav>
    <%= button_to session_path, method: :delete, class: "btn", form_class: "flex-item-justify-start" do %>
      <%= image_tag "logout.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Sign out</span>
    <% end %>

    <h1 class="txt-xx-large margin-none flex align-center gap-half">
      Bubbled up

      <% if @category %>
        in <%= @category.title %>

        <%= link_to splats_path, class: "btn txt-small" do %>
          <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
          <span class="for-screen-reader">Clear</span>
        <% end %>
      <% end %>
    </h1>

    <%= link_to new_splat_path, class: "btn flex-item-justify-end" do %>
      <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Create a new splat</span>
    <% end %>
  </nav>
<% end %>

<section class="windshield">
  <%= render @splats.last(10) %>
</section>

<menu class="splats-filter flex align-center justify-center gap margin-block-start margin-none unpad position-relative">
  <li>
    <button class="btn">
      <%= image_tag "chart.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Activity</span>
      <input type="radio" name="view" checked>
    </button>
  </li>
  <li>
    <button class="btn">
      <%= image_tag "temperature.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Criticality</span>
      <input type="radio" name="view">
    </button>
  </li>
  <li>
    <button class="btn">
      <%= image_tag "inbox.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Newest</span>
      <input type="radio" name="view">
    </button>
  </li>
  <li>
    <button class="btn">
      <%= image_tag "hourglass.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Oldest</span>
      <input type="radio" name="view">
    </button>
  </li>
</menu>

<section class="splats-list unpad-inline center">
  <ul class="unpad margin-none flex flex-column txt-align-start center">
    <% @splats.each do | splat | %>
      <li class="flex align-center gap margin-none">
        <%= link_to splat, class: "splat__title-link flex align-center gap flex-item-grow" do %>
          <strong><%= splat.title %></strong>
        <% end %>
        <small class="flex align-center gap flex-item-no-shrink">
          <% splat.categories.each do |category| %>
            <%= link_to "# #{ category.title }", splats_path(category_id: category.id) %>
          <% end %>
          <span class="avatar txt-small txt-nowrap fill-shade"><strong>JZ</strong></span>
          <time class="txt-nowrap flex-item-justify-end"><%= splat.updated_at.strftime("%B %d").html_safe %></time>
        </small>
      </li>
    <% end %>
  </ul>
</section>
