<div class="card__meta" id="<%= dom_id(card, :meta) %>">
  <%= avatar_tag card.creator %>

  <div class="card__meta-grid margin-inline-start">
    <span class="card__meta-item card__meta-item--added overflow-ellipsis">
      Added <%= local_datetime_tag(card.created_at, style: :daysago) %>
      <% if card.drafted? %>
        <strong>(Draft)</strong>
      <% end %>
    </span>
    <span class="card__meta-item card__meta-item--updated overflow-ellipsis">
      <% if card.creating? %>
        &nbsp;
      <% else %>
        Updated
        <%= local_datetime_tag(card.updated_at, style: :daysago) %>
      <% end %>
    </span>
    <span class="card__meta-item card__meta-item--reported overflow-ellipsis">
      Reported by <strong><%= card.creator.familiar_name %></strong>
    </span>
    <span class="card__meta-item card__meta-item--assigned overflow-ellipsis">
      <%= card.assignees.any? ? "Assigned to" : "Not assigned" %>
      <%= card.assignees.map { |assignee| "<strong>#{assignee.familiar_name}</strong>" }.to_sentence.html_safe %>
    </span>
  </div>

  <div class="margin-inline-start flex-item-no-shrink">
    <%= yield %>
  </div>
</div>

