<li class="popup__group" data-filter-target="item" data-navigable-list-target="item" id="filter-collection-<%= collection.id %>">
  <label class="btn txt-xx-small">
    <%= form.check_box "collection_ids[]", {
          checked: user_filtering.filter.collections.include?(collection),
          data: { action: "change->form#submit" },
          include_hidden: false,
    }, collection.id %>

    <span class="for-screen-reader">
      Toggle filter for <%= collection.name %>
    </span>
    <%= icon_tag "check", size: 18, class: "checked" %>
  </label>

  <%= link_to cards_path(collection_ids: [ collection ]), class: "popup__item btn" do %>
    <span class="overflow-ellipsis"><%= collection.name %></span>
    <span class="translucent flex-item-no-shrink flex-item-justify-end"> ›</span>
  <% end %>
</li>
