<!DOCTYPE html>
<html>
  <head>
    <%= page_title_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, interactive-widget=resizes-content">
    <meta name="view-transition" content="same-origin">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag.meta name: "current-user-id", content: Current.user.id if Current.user %>

    <% turbo_refreshes_with method: :morph, scroll: :preserve %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  </head>

  <body data-controller="lightbox local-time timezone-cookie">
    <header id="header">
      <a href="#main-content" class="skip-navigation btn">Skip to main content</a>
      <%= yield :header %>
    </header>

    <% if notice = flash[:notice] || flash[:alert] %>
      <div class="flash" data-controller="element-removal" data-action="animationend->element-removal#remove">
        <div class="flash__inner shadow">
          <%= notice %>
        </div>
      </div>
    <% end %>

    <main id="main">
      <%= yield %>
    </main>

    <footer id="footer">
      <%= yield :footer %>

      <% if Current.user %>
        <%= render "notifications/tray" %>
        <%= render "my/pins/tray" %>
        <%= turbo_frame_tag "terminal", src: terminal_path, data: { turbo_permanent: true } %>
      <% end %>
    </footer>

    <%= render "layouts/lightbox" %>
  </body>
</html>
